* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	

}

body {
	font-family: 'Grandstander', cursive;
	line-height: 1.4;
	
	min-height: 100vh;
	color: black;
    
  
}

a {
	color: #333;
	text-decoration: none;
}

.container {
	display: grid;

	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

.first {
	display: grid;
	justify-content: center;
	border-bottom: 1px dashed black;
	padding-bottom: 10px;
}

.first button {
	padding: 10px;
}


.form-control {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

.form-control i {
	
	font-size: 2.5em;
}

.form-control input {
	border: 3px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 14px;
	padding: 10px 10px 10px 10px;

	font-family: inherit;
	
	text-align: center;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}


.second {
	display: grid;
	justify-content: center;
	padding: 20px 0 20px 0;
}

.addToList {
	display: grid;
	justify-content: center;
	justify-items: center;
}

.addToList button {
	width: 100%;
	padding: 5px;
}

.inputWrap {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}


.inputWrap input {
	padding: 5px 20px 5px 20px;
	text-align: center;
}




.content {
	display: grid;
	
}

.item {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	grid-gap: 15px;
	padding-bottom: 20px;
	grid-row-gap:	0px;
	font-size: 1.2em;
	margin-top: 10px;
}

.item .meaning {
	font-size: 0.6em;
} 




