* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.3s;
	

}

body {
	font-family: 'Grandstander', cursive;
	line-height: 1.4;
	
	min-height: 100vh;
	color: black;
    
  
}

i {
	color: #61DAFB;
}

i:hover {
	transform: scale(1.2);
	cursor: pointer;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #61DAFB ;
}

button {
	font-weight: 600;
	font-family: 'Grandstander', cursive;
}

button:active {
	transform: scale(.9);

}



.header {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	color: #61DAFB;
	background-color: #20232A;
}


.contentWrapper {
	margin-top: 95px;
}

.first {
	color: #ffffff;
	display: grid;
	justify-content: center;
	justify-items: center;
	padding-bottom: 15px;
	background-color: #282C34;

}

.first #voiceList {
	padding-top: 10px;
}

.first select {
	border: none;
	background-color: #282C34;
	color: #ffffff;
}

.first .form-control button {
	margin-top: 8px;
	padding: 13px 0;
	border-radius: 5px;
	border: none;
	background-color: #61DAFB;
	color: #282C34;
	border: none;
	outline: none;
}

.first .form-control button:hover {
	background-color: #ffffff;
	cursor: pointer;
}


.first button {
	padding: 10px 60px;
	background-color: #61DAFB;
	color: #282C34;
	border-radius: 5px;
	border: none;
	outline: none;
}

.first button:hover {
	background-color: #ffffff;
	cursor: pointer;
}

#btn {

}

.form-control {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
	grid-gap: 10px;
	margin-top: 8px;
	
}



.form-control input {
	border: 5px solid #f0f0f0;
	border-radius: 5px;
	display: block;
	padding: 10px 10px 10px 10px;

	font-family: inherit;
	
	text-align: center;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}


.secondAndThird {
	
	display: grid;
	justify-content: center;
	justify-items: center;
	padding-top: 10px;

}


.second {
	display: grid;
	justify-content: center;
	background-color: white;
	padding-top: 10px;
	
}

.addToList {
	display: grid;
	justify-content: center;
	justify-items: center;
}

.addToList p:hover {
	color: red;
	cursor: pointer;
	transform: scale(1.5);
}

.inputWrap {
	display: grid;
	grid-gap: 5px;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 10px;
	margin-top: 10px;
	grid-template-areas: "input   input  input  plus"
					"input2 input2 input2 plus";
}

#input {
	grid-area: input;
}

#input2 {
	grid-area: input2;
}

#plus {
	grid-area: plus;
}



.inputWrap input {
	padding: 6px 20px 6px 20px;
	text-align: center;
	outline-color: #61DAFB;
	font-family: 'Grandstander', cursive;


}

.inputWrap button {
	background-color: #61DAFB;
	color: #282C34;
	border: none;
	outline: none;
	border-radius: 5px;
}

.inputWrap button:hover {
	cursor: pointer;
	transform: scale(0.9);
}


.third {
	display: grid;
}


.content {
	display: grid;
	
}

.item {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: flex-end;
	
	grid-gap: 15px;
	padding-bottom: 20px;
	grid-row-gap:	0px;
	
	margin-top: 10px;
}

.item .meaning {
	font-size: 0.7em;
} 

.erase-transition {
	transition-duration: 0.8s;
	opacity: 0.3;
	transform: translateY(-50px);
}


.footer {
	
	padding: 15px;
	text-align: center;
	color: #61DAFB;
	background-color: #20232A;
}


.footer i{
	color: red;
}

.footer a{
	text-decoration: none;
	color: #61DAFB;
}